<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>View Lot</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Lot Details</h2>
    <div th:switch="${lots}">
        <h2 th:case="null" class="text-danger">No lots found!</h2>
        <div th:case="*">
            <h2>Your own lot</h2>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lot : ${lots}">
                    <td th:text="${lot.id}"></td>
                    <td th:text="${lot.title}"></td>
                    <td th:text="${lot.description}"></td>
                    <td th:text="${lot.startTime}"></td>
                    <td th:text="${lot.endTime}"></td>
                    <td th:text="${lot.startingPrice.price}"></td>
                    <td>
                        <a class="btn btn-danger btn-sm" th:href="@{/delete/{id}(id=${lot.id})}">Delete</a>
                        <a class="btn btn-primary btn-sm" th:href="@{/generate/{id}(id=${lot.id})}">Generate Url</a>
                        <form method="post" th:action="@{/start/auction/{id}(id=${lot.id})}" style="display: inline;">
                            <button type="submit" class="btn btn-success btn-sm">Start Auction</button>
                        </form>
                        <form method="post" th:action="@{/stop/auction/{id}(id=${lot.id})}" style="display: inline;">
                            <button type="submit" class="btn btn-warning btn-sm">Stop Auction</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <p th:if="${param.lotUrl}" class="mt-3">Your own lot URL: <a th:text="${param.lotUrl}"></a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
